<!- aboutページの作成に必要なviewの作成(HTML) ->


<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
<!- 背景の画像を挿入>
<img class="about-img" src="about.png">

</div>
